<% provide(:title, "Gra-Navi") %>
<h1>Gra-Navi Top</h1>

<!-- <form id="form" action="#" onsubmit="return false;">
  <input id="sbox" name="s" type="text" placeholder="キーワードを入力" />
  <input id="sbtn" type="submit" value="検索" />
</form> -->

<div id="request_ajax_update" >
  <%= form_with url: maps_update_path, id: 'form', remote: false do |form| %>
    <%= form.text_field :data, id: 'sbox' %>
    <%= form.submit '検索する', id: 'sbtn' %>
  <% end %>
</div>

<div id="result"></div>

<div id="map_wrapper">
  <div id="map" class="box"></div>
</div>

<%=
map(:center => {
    :latlng => [@center_lat, @center_lon],
    :zoom => 16,
})
%>

<script>
const yado_latlng = <%= @yado_place %>;
const yado_reviewAverage = <%= @yado_reviewAverage %>

for(var array_count = 0; array_count < yado_latlng.length; array_count++){
  const d = Math.pow(yado_reviewAverage[array_count], 8)/1000 + 10;
  var icon = L.divIcon({
    className: 'marker',
    iconSize: [d, d],
    html: 'a'
  });
  L.marker(yado_latlng[array_count], {icon: icon, riseOnHover: true, opacity: 0.3}).addTo(map);
}
</script>
<script>
  $(function() {
    $('#request_ajax_update').on('ajax:success', function(event) {
      const data = event.detail[0];
      const lon = data['lon'];
      const lat = data['lat'];

      document.getElementById('map_wrapper').innerHTML = "<div id='map' class='box' style=''></div>";

      if (map != undefined) { map.remove(); }

      var map = L.map('map').setView([lat,lon], 16);

      const tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
        attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      });

      const yado_latlng = data['yado_data'];

      for(var array_count = 0; array_count < yado_latlng.length; array_count++){
        L.marker(yado_latlng[array_count]).addTo(map);
      }

      tileLayer.addTo(map);
      $('#result').text(data['lat'] + ':' + data['lon']);
    });

    $('#request_ajax_update').on('ajax:error', function(event) {
      alert("失敗！");
    });
  });
</script>
